# Build directories
bin/
obj/
build/

# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build outputs
*.obj
*.exe
*.ilk
*.pdb
*.lib
*.exp
*.iobj
*.ipdb

# Debug/Release directories
Debug/
Release/

# IDE artifacts
.vscode/.history/
.vscode/.data/
.cache/

# CMake
CMakeUserPresets.json
compile_commands.json

# temp
codemap-extension/
